@{
    ViewBag.PageTitle = "À propos";
}

<h2>Wikimedia</h2>
<dl>
    <dt>
        Équipier
    </dt>
    <dd>
        Louis-Philippe Boucher<br />
    </dd>

    <dt>
        Description
    </dt>
    <dd>
        Application Web transactionnelle offrant une interface CRUD pour gérer une liste de vidéos YouTube conservées dans un fichier JSON local au serveur.
    </dd>

    <dt>
        11 Mars 2026
    </dt>
    <dd>
        
    </dd>
</dl>